.container {
  display: flex;
  flex-direction: column;
  padding: 40px; /* Réduire un peu le padding */
  gap: 30px; /* Espacement entre les éléments */
  margin: 0 auto;
  text-align: center;
  max-width: 900px; /* Limiter la largeur du contenu pour une meilleure lisibilité */
}

h1 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px; /* Ajouter plus d'espace sous le titre */
}

p {
  color: var(--primary-color);
  font-size: var(--font-size-body);
  line-height: 1.8;
  margin-bottom: 20px;
}