/* src/components/Footer/Footer.css */
/* .footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  } */
  
.footer {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  color: var(--white);
}