.footer {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
  position: fixed; /* Changer de absolute à fixed pour que le footer soit toujours en bas de la page */
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer p {
  color: var(--white);
  margin: 0;
}